{erl_opts, [debug_info]}.

%% Options for running dialyzer
%% {plt, PltFile}
%% 'src': run Dialyzer on the source files as in 'dialyzer --src'
%% {warnings, [WarnOpts]}: turn on/off Dialyzer warnings
{dialyzer_opts, [{plt, "erlsom.plt"},
                 {warnings, [no_return, race_conditions, underspecs, behaviours]},
                 src]}.
{eunit_opts, [verbose]}.
